.custom-container {
    background-color: rgb(51, 114, 173);;
}

#today {
    margin-right: 10px;
    padding: 10px;
}

#forecast {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    margin-left: 2px;
}

#search-button {
    background-color: rgb(51, 114, 173);
    color: white;
}

#history button {
    border: none;
    border-radius: 5px;
    background-color: rgb(51, 114, 173);
    color: white;
    margin-bottom: 10px;
}

.card {
    background-color: rgb(51, 114, 173);
    padding: 20px;
    width: 18%;
    color: white;
}

.card h5 {
    color: white;
}

.card img {
    width: 50px;
    height: 50px;
}